RewriteEngine On
Options -Indexes

# Rediriger toutes les requêtes vers le dossier public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Protection du fichier .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files> 